<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <meta name="theme-color" content="#7952b3">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/shlyapa.ico')}}" type="image/x-icon">
    <link href="{{url_for('static', filename='styles/cover.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>Shweather</title>
</head>

<body style="background-color: #212529">

  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 shadow-sm" style="background-color: rgb(30, 30, 30); padding-left: 16px;">
    <p class="h5 my-0 text-white" style="font-weight: 600; padding-top: .5rem; padding-bottom: .5rem; text-decoration: none;">&copy; SHLYAPA Inc.</p>
  <div class="my-2 my-md-0 me-md-auto" style="margin-left: 16px; margin-right: 16px;">
    <a class="p-2" style="color: rgba(255, 255, 255, .55); text-decoration: none; font-size: 1.2rem" href="/">Home</a>
    <a class="p-2" style="color: rgba(255, 255, 255, .55); text-decoration: none; font-size: 1.2rem" href="bot">bcE-bot</a>
    <a class="p-2" style="color: rgba(255, 255, 255, .55); text-decoration: none; font-size: 1.2rem" href="shlyapa-voice">SHLYAPA</a>
  </div>
    <div style="display: flex!important;">
      <input type="text" placeholder="Search city by name" style="padding: .375rem .75rem; border: 1px solid #fff!important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; height: 40px; margin-right: 8px;">
      <a class="btn" style="width: 100px; height: 40px; color: #212529; background-color: #fff!important; border-color: #fff!important; margin-right: 8px; margin-left: 8px;" href="log-in">Log in</a>
      <a class="btn btn-outline-light" style="width: 100px; height: 40px; margin-left: 8px;" href="sign-up">Sign up</a>
    </div>
  </header>

<main class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="color: rgba(255, 255, 255, .8); font-weight: 500;">Weather</h1>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm text-white-50" style="background-color: #3b3d3f;">
      <div class="card-header">
        <h2 class="my-0 fw-normal">Saint-Petersburg</h2>
      </div>
      <div class="card-body">
          {% for t in temp %}
            <h1 class="card-title pricing-card-title">{{ t.temp_spb }}</h1>
          {% endfor %}
        <ul class="list-unstyled mt-3 mb-4">
          {% for t in temp %}
          <li>{{ t.v_spb }}</li>
          {% endfor %}
          {% for t in temp %}
          <li>{{ t.d_spb }}</li>
          {% endfor %}
        </ul>
        <a type="button" class="w-100 btn btn-lg btn-outline-light" href="spb">More Info</a>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm text-white-50" style="background-color: #3b3d3f;">
      <div class="card-header">
        <h2 class="my-0 fw-normal">Moscow</h2>
      </div>
      <div class="card-body">
        {% for t in temp %}
            <h1 class="card-title pricing-card-title">{{ t.temp_msk }}</h1>
        {% endfor %}
        <ul class="list-unstyled mt-3 mb-4">
          {% for t in temp %}
          <li>{{ t.v_msk }}</li>
          {% endfor %}
          {% for t in temp %}
          <li>{{ t.d_msk }}</li>
          {% endfor %}
        </ul>
        <a type="button" class="w-100 btn btn-lg btn-outline-light" href="msk">More Info</a>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm text-white-50" style="background-color: #3b3d3f;">
      <div class="card-header">
        <h2 class="my-0 fw-normal">Donetsk</h2>
      </div>
      <div class="card-body">
        {% for t in temp %}
            <h1 class="card-title pricing-card-title">{{ t.temp_don }}</h1>
        {% endfor %}
        <ul class="list-unstyled mt-3 mb-4">
          {% for t in temp %}
          <li>{{ t.v_don }}</li>
          {% endfor %}
          {% for t in temp %}
          <li>{{ t.d_don }}</li>
          {% endfor %}
        </ul>
        <a type="button" class="w-100 btn btn-lg btn-outline-light" href="don">More Info</a>
      </div>
    </div>
    </div>
  </div>

  <div class="bd-example">
    <table class="table table-striped">
      <thead>
      <tr style="color: rgba(255, 255, 255, .8);">
        <th scope="col">#</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Link</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-white-50">
        <th scope="row">1</th>
        <td>Saint-Petersburg</td>
        <td>Russia</td>
        <td><a href="spb" style="text-decoration: none; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;">More Info</a></td>
      </tr>
      <tr class="text-white-50">
        <th scope="row">2</th>
        <td>Moscow</td>
        <td>Russia</td>
        <td><a href="msk" style="text-decoration: none; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;">More Info</a></td>
      </tr>
      <tr class="text-white-50">
        <th scope="row">3</th>
        <td>Donbass</td>
        <td>Ukraine</td>
        <td><a href="don" style="text-decoration: none; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;">More Info</a></td>
      </tr>
      </tbody>
    </table>
    </div>


</main>


  </body>
</html>