<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Sign in</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/shlyapa.ico')}}" type="image/x-icon">

    <!-- Favicons -->
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='styles/signin.css')}}" rel="stylesheet">
  </head>
  <body class="text-center" style="background-color: #212529">

<main class="form-signin">
  <form method="post">
    <img class="mb-4" src="{{url_for('static', filename='img/shlypa.png')}}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <label for="inputEmail" class="visually-hidden" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">Email address</label>
    <input id="inputEmail" name="text" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="visually-hidden" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">Password</label>
    <input id="inputPassword" name="text1" class="form-control" placeholder="Password">
    <label for="inputNickname" class="visually-hidden" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">Nickname</label>
    <input id="inputNickname" name="text2" class="form-control" placeholder="Nickname">
    <label for="inputCity" class="visually-hidden" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">City</label>
    <input id="inputCity" name="text3" class="form-control" placeholder="City">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
  </form>
</main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
  </body>
</html>
